@model EscolaViewModel
@inject IHttpContextAccessor httpContext
@inject IConfiguration configuration
@{
    var user = await GetUtilizadorLogadoAsync();
    ViewBag.Title = $"{configuration["Projeto:Nome"]} - {user.Escola.Nome}";

    bool primeiraVezLogin = false;
}


@if (bool.TryParse(httpContext.HttpContext.Session.GetString("PrimeiraVezLogin"), out _))
{
    primeiraVezLogin = true;
    httpContext.HttpContext.Session.Remove("PrimeiraVezLogin");
    <div class="modal fade" id="modal-alterar-password" tabindex="-1" role="dialog"
    aria-labelledby="modal-alterar-password-titulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-alterar-password-titulo">Alteração de password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Notámos que foi a 1º vez pela qual se autenticou. Pretende alterar a sua password?</p>
                <form id="form-alterar-password" class="w-100" asp-action="AlterarPassword" asp-controller="Conta"
                    asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-success="passwordAlterada"
                    data-ajax-loading="#loading-icon-alterar-password">
                    <div class="form-group mb-3">
                        <label asp-for="AlterarPasswordViewModel.Password"></label>
                        <input class="form-control" asp-for="AlterarPasswordViewModel.Password" />
                        <span class="text-danger text-center"
                            asp-validation-for="AlterarPasswordViewModel.Password"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="AlterarPasswordViewModel.NovaPassword"></label>
                        <input class="form-control" asp-for="AlterarPasswordViewModel.NovaPassword" />
                        <span class="text-danger text-center"
                            asp-validation-for="AlterarPasswordViewModel.NovaPassword"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="AlterarPasswordViewModel.ConfirmacaoNovaPassword"></label>
                        <input class="form-control" asp-for="AlterarPasswordViewModel.ConfirmacaoNovaPassword" />
                        <span class="text-danger text-center"
                            asp-validation-for="AlterarPasswordViewModel.ConfirmacaoNovaPassword"></span>
                    </div>

                    <button class="btn btn-primary btn-block mt-2" type="submit">
                        <i id="loading-icon-alterar-password" style="display: none;" class="fas fa-spinner fa-spin"></i>
                        Alterar password
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Não pretendo alterar a password agora
                </button>
            </div>
        </div>
    </div>
</div>
}


@{
    string width = (User.IsInRole(TipoUtilizador.Aluno.ToString()) || User.IsInRole(TipoUtilizador.Professor.ToString())) ?
            "60%" : "75%";

    string coluna = (User.IsInRole(TipoUtilizador.Aluno.ToString()) || User.IsInRole(TipoUtilizador.Professor.ToString())) ?
    "col-9" : "col-10";
}
<div class="row no-gutters container-fluid">
    <div class="text-center @coluna">
        <div class="mt-5">
            <div class="navbar-nav text-center">
                <h2>@user.Escola.Nome</h2>
            </div>
        </div>
        <hr/> 
        <div class="p-2">
            <div class="p-4"
                style="position: fixed; height: 83vh; width: @width; overflow-y: scroll; scrollbar-width: none; ">

                <div class="">
                    @{
                        var conteudo = @user.Escola.ConteudoPaginaPrincipal?.ConteudoHtml ?? "<h3>Sem conteudo</h3>";
                    }
                    @if (User.IsInRole(TipoUtilizador.Diretor.ToString()))
                    {
                         <form id="form-inserir-conteudo-pagina-escola" asp-action="InserirConteudoPaginaEscola" asp-controller="Escola" asp-area=""
                                  asp-antiforgery="true" data-ajax="true" data-ajax-method="POST"
                                  data-ajax-success="insercaoConteudoPaginaEscola"
                                  data-ajax-loading="#loading-icon-insercao-conteudo-escola">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <textarea id="inserir-conteudo" asp-for="PaginaPrincipal.ConteudoHtml" class="form-control m-2" rows="2">
                                        @conteudo
                                        </textarea>
                                    <div class="font-weight-bold">
                                        <button type="submit" class="btn btn-primary btn-block mt-3">Inserir conteúdo</button>
                                    </div>
                                </div>
                            </div>
                         </form>
                    }
                    @Html.Raw(conteudo)
                </div>

            </div>
        </div>
    </div>

    @if (User.IsInRole(TipoUtilizador.Aluno.ToString()) || User.IsInRole(TipoUtilizador.Professor.ToString()))
    {
        // partial grupos
        <partial name="_Grupos" model="@Model" />
    }

</div>


@section Scripts {
<partial name="_Validacoes" />
<partial name="_Ajax" />
<partial name="_WYSIWYG" model=@string.Format("inserir-conteudo") />
@if(primeiraVezLogin)
{
primeiraVezLogin = false;
<script>
    $('#modal-alterar-password').modal('show');
</script>
}

<script>

     function insercaoConteudoPaginaEscola(respostaAjax) 
     {
         if(!(respostaAjax.ocorreuAlgumErro))
         {
             document.getElementById('form-inserir-conteudo-pagina-escola').reset();
         }
         ajaxCompleto(respostaAjax);
     }


    function passwordAlterada(respostaAjax) {
        if (!(respostaAjax.ocorreuAlgumErro)) {
            $('#modal-alterar-password').modal('hide');
            document.getElementById('form-alterar-password').reset();
        }
        ajaxCompleto(respostaAjax);
    }





    $("#teste").wysibb();

</script>



}
