@inject IConfiguration configuration 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" />
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <partial name="_Header" />

    <main role="main">
        <section id="hero" class="d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                        <h1>A sua plataforma pedagógica de escolha</h1>
                        <h2>Na @configuration["Projeto:Nome"], acreditamos na educação.</h2>
                        <div class="d-flex">
                            <a href="#contact" class="btn btn-primary">Contacte-nos para mais informações</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img">
                        <img src="~/assets/img/education.png" class="img-fluid animated" alt="" style="height:400px; width:auto">
                    </div>
                </div>
            </div>
        </section>
        <main id="main">
            <section id="featured-services" class="featured-services">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="icon-box">
                                <div class="icon"><i class="icofont-businesswoman"></i></div>
                                <h4 class="title"><a href="">Directores</a></h4>
                                <p class="description">Direcções pedagogicas poderão aqui montar a sua plataforma para conferir uma experiencia de partilha de conhecimento diferente da Escola comum</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <div class="icon-box">
                                <div class="icon"><i class="icofont-billboard"></i></div>
                                <h4 class="title"><a href="">Professores</a></h4>
                                <p class="description">Professores terao a liberdade de criar e partilhar todo o tipo de conteudos de apoio as suas aulas</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                            <div class="icon-box">
                                <div class="icon"><i class="icofont-school-bag"></i></div>
                                <h4 class="title"><a href="">Alunos</a></h4>
                                <p class="description">Alunos tem acesso a todo o material de apoio de forma interactiva de modo a proporcionar maior contacto entre todos os elementos resultando numa maior facilidade em compreender as 'materias'</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section id="about" class="about">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-6">
                            <img src="~/assets/img/about.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
                            <p class="font-italic">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.
                            </p>
                            <ul>
                                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
                            </ul>
                            <p>
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>

                </div>
            </section>
            <section id="counts" class="counts">
                <div class="container">

                    <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">232</span>
                            <p>Clients</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">521</span>
                            <p>Projects</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">1,463</span>
                            <p>Hours Of Support</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">15</span>
                            <p>Hard Workers</p>
                        </div>

                    </div>

                </div>
            </section>
            <section id="services" class="services section-bg">
                <div class="container">

                    <div class="section-title">
                        <span>Comos nós podemos ajudar</span>
                        <h2>Porque podemos ajudar a sua escola</h2>
                        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                <h4><a href="">Melhores resultados</a></h4>
                                <p>Ao proporcionarmos uma melhor interação com os seus formadores e os seus formandos, torna-se fácil a comunicação e a busca por melhores resultados</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-file"></i></div>
                                <h4><a href="">Um repositório central de informações</a></h4>
                                <p>Com o número elevado de plataformas online, torna-se díficil para os alunos escolherem a correta para a sua fonte de informações.<br/>
                                Com a @configuration["Projeto:Nome"], dispomos de um repositório central do qual estará sempre disponível para os seus formandos</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4><a href="">Mais que um serviço</a></h4>
                                <p>Com a @configuration["Projeto:Nome"], as nossas parcerias não se limitam pelos negócios.<br/>
                                   Preocupamo-nos com todos os nossos parceiros, providenciando a ajuda que for necessária sempre que precisarem.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-world"></i></div>
                                <h4><a href="">Universal</a></h4>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-slideshow"></i></div>
                                <h4><a href="">Apresentação</a></h4>
                                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-arch"></i></div>
                                <h4><a href="">Certificação pedagogica</a></h4>
                                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <section id="contact" class="contact">
                <div class="container">
                    <div class="section-title">
                        <span>Contacte-nos</span>
                        <h2>Contacte-nos</h2>
                        <p>Gostaria de integrar a sua escola na nossa plataforma? 
                        <br/>
                        Entre em contacto connosco e teremos todo o gosto em responder às suas dúvidas!</p>
                    </div>
                        <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                             <partial name="_ContacteNos"/>
                        </div>
                </div>
            </section>
        </main>
        <partial name="_Footer" />

        <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-titulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-login-titulo">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <partial name="_Login"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>


    <a href="#" class="back-to-top "><i class="icofont-simple-up"></i></a>
    @RenderBody()
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <partial name="_Ajax"/>
    <partial name="_Validacoes"/>
    @await RenderSectionAsync(name: "Scripts", required: false)
</body>
</html>