@model UtilizadoresAdministradorViewModel
@inject IConfiguration configuration
@{
    ViewBag.Title = $"Administração {configuration["Projeto:Nome"]} - Utilizadores";
}
<div>
    <button class="btn btn-info btn my-3" data-toggle="modal" data-target="#modal-inserir-utilizador">Adicionar
        membro da direção</button>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome Proprio</th>
                <th scope="col">Apelido</th>
                <th scope="col">Email utilizador</th>
                <th scope="col">Tipo de perfil</th>
                <th scope="col">Data de criação</th>
                <th scope="col">Data do ultimo Login</th>
                <th scope="col">Acções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser utilizador in Model.Utilizadores)
            {
                <tr>
                    <td>@utilizador.PrimeiroNome</td>
                    <td>@utilizador.Apelido</td>
                    <td>@utilizador.Email</td>
                    <td>Tipo de Perfil</td>
                    <td>@utilizador.DataCriacao</td>
                    <td>@utilizador.DataUltimoLogin</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#modal-editar-utilizador" data-id="@utilizador.Id"><i
                            class="far fa-edit fa-lg ml-1"></i></a>
                        <a href="#"><i class="far fa-trash-alt fa-lg ml-2"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-inserir-utilizador" tabindex="-1" role="dialog"
    aria-labelledby="modal-inserir-utilizador-titulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-inserir-utilizador-titulo">Adicionar membro da direção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-adicionar-membro-direcao" asp-action="AdicionarMembroDirecao"
                    asp-controller="Utilizadores" asp-area="Administrador" asp-antiforgery="true" data-ajax="true"
                    data-ajax-method="POST" data-ajax-success="insercaoMembroDirecaoConcluidaSucesso"
                    data-ajax-loading="#loading-icon-insercao-membro-direcao">

                    <div class="form-group">
                        <label asp-for="MembroDirecao.PrimeiroNome"></label>
                        <input class="form-control" asp-for="MembroDirecao.PrimeiroNome" />
                        <span class="text-danger text-center" asp-validation-for="MembroDirecao.PrimeiroNome"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MembroDirecao.Apelido"></label>
                        <input class="form-control" asp-for="MembroDirecao.Apelido" />
                        <span class="text-danger text-center" asp-validation-for="MembroDirecao.Apelido"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" />
                        <span class="text-danger text-center" asp-validation-for="Email"></span>
                    </div>

                    <label asp-for="IdEscola">Qual é a escola?</label>
                    <select class="wide mb-2" asp-for="IdEscola" asp-items="@Model.EscolasDropdownList">
                        <option selected disabled value="0">-- Selecione uma escola --</option>
                    </select>
                    <span class="text-danger text-center" asp-validation-for="IdEscola"></span>

                    

                    <button class="btn btn-success btn-block" type="submit">
                        <i id="loading-icon-insercao-membro-direcao" style="display: none;"
                            class="fas fa-spinner fa-spin"></i>
                        Inserir membro da direção
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <a asp-action="Index" asp-area="Administrador" asp-controller="Escolas"
                   asp-fragment="inserir-escola" class="btn btn-secondary">
                    Criar nova escola
                </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="#modal-editar-utilizador" tabindex="-1" role="dialog"
    aria-labelledby="modal-editar-utilizador-titulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-editar-utilizador-titulo">Editar utilizador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-editar-utilizador" asp-action="EditarUtilizador" asp-controller="Utilizadores"
                    asp-area="Administrador" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST"
                    data-ajax-success="insercaoMembroDirecaoConcluidaSucesso"
                    data-ajax-loading="#loading-icon-insercao-membro-direcao">

                    <div class="form-group">
                        <label>Nome</label>
                        <input />
                        <span></span>
                    </div>

                    @*<div class="form-group">
                        <label asp-for="MembroDirecao.PrimeiroNome"></label>
                        <input class="form-control" asp-for="MembroDirecao.PrimeiroNome" />
                        <span class="text-danger text-center" asp-validation-for="MembroDirecao.PrimeiroNome"></span>
                        </div>

                        <div class="form-group">
                        <label asp-for="MembroDirecao.Apelido"></label>
                        <input class="form-control" asp-for="MembroDirecao.Apelido" />
                        <span class="text-danger text-center" asp-validation-for="MembroDirecao.Apelido"></span>
                        </div>

                        <select class="wide mb-2" asp-for="IdEscola" asp-items="@Model.EscolasDropdownList">
                        <option selected disabled value="">-- Selecione uma escola --</option>
                        </select>

                        <a asp-action="Index" asp-area="Administrador" asp-controller="Escolas"
                        asp-fragment="inserir-escola" class="btn btn-info btn-block">
                        Criar nova escola
                        </a>*@

                    <button class="btn btn-success btn-block" type="submit">
                        <i id="loading-icon-insercao-membro-direcao" style="display: none;"
                            class="fas fa-spinner fa-spin"></i>
                        Inserir membro da direção
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_DataTables" />
<partial name="~/Views/Shared/_Validacoes.cshtml" />
<partial name="~/Views/Shared/_Ajax.cshtml" />
<script>
    function insercaoMembroDirecaoConcluidaSucesso(respostaAjax) {
        if (!(respostaAjax.ocorreuAlgumErro)) {
            $('#modal-inserir-utilizador').modal('hide');
            document.getElementById('form-adicionar-membro-direcao').reset();
        }
        ajaxCompleto(respostaAjax);
    }
</script>
}