@model EscolasViewModel
@inject IConfiguration configuration  
@{
    ViewBag.Title = $"Administração {configuration["Projeto:Nome"]} - Escolas";
}

<div>
    <button class="btn btn-info btn my-3" data-toggle="modal" data-target="#modal-inserir-escola">Adicionar Escola</button>
    <table class="table table-hover" id="tabela-escolas">
        <thead class="thead-light">
            <tr>
                <th scope="col">Código Escola</th>
                <th scope="col">Nome Escola</th>
                <th scope="col">Distrito</th>
                @*<th scope="col">Morada</th>*@
                @*<th scope="col">Codigo Postal</th>*@
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Data de criação</th>
                @*<th scope="col">Directores</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (Escola escola in Model.Escolas)
            {
                <tr>
                    <td>@escola.Codigo</td>
                    <td>@escola.Nome</td>
                    <td>@escola.Distrito</td>
                    @*<td>@escola.Rua</td>*@
                    @*<td>@escola.CodigoPostal</td>*@
                    <td>@escola.ContactoTelefonico</td>
                    <td>@escola.Email</td>
                    <td>@escola.DataCriacao</td>
                    @*<td>
                            <button class="btn btn-info m-3 btn-ver-diretores-escola" data-toggle="modal" data-target="#modal-inserir-escola" data-id-escola="@escola.Id">Ver diretores</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal verificar diretores associados a esta escola -->
<div class="modal fade" id="modal-diretores-escola" tabindex="-1" role="dialog" aria-labelledby="modal-diretores-escola-titulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-diretores-escola-titulo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>




<!-- Model inserção escola -->
<div class="modal fade" id="modal-inserir-escola" tabindex="-1" role="dialog" aria-labelledby="modal-inserir-escola-titulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-inserir-escola-titulo">Adicionar escola</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-adicionar-escola"
                      asp-action="AdicionarEscola"
                      asp-controller="Escolas"
                      asp-area="Administrador"
                      asp-antiforgery="true"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-success="insercaoEscolaConcluidaSucesso"
                      data-ajax-loading="#loading-icon-insercao-escola">

                    <div class="form-group">
                        <label asp-for="EscolaAdicionar.Codigo"></label>
                        <input class="form-control" asp-for="EscolaAdicionar.Codigo" />
                        <span class="text-danger text-center" asp-validation-for="EscolaAdicionar.Codigo"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EscolaAdicionar.Nome"></label>
                        <input class="form-control" asp-for="EscolaAdicionar.Nome" />
                        <span class="text-danger text-center" asp-validation-for="EscolaAdicionar.Nome"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EscolaAdicionar.Distrito"></label>
                        <input class="form-control" asp-for="EscolaAdicionar.Distrito" />
                        <span class="text-danger text-center" asp-validation-for="EscolaAdicionar.Distrito"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EscolaAdicionar.Rua"></label>
                        <input class="form-control" asp-for="EscolaAdicionar.Rua" />
                        <span class="text-danger text-center" asp-validation-for="EscolaAdicionar.Rua"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EscolaAdicionar.CodigoPostal"></label>
                        <input class="form-control" asp-for="EscolaAdicionar.CodigoPostal" />
                        <span class="text-danger text-center" asp-validation-for="EscolaAdicionar.CodigoPostal"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EscolaAdicionar.ContactoTelefonico"></label>
                        <input class="form-control" asp-for="EscolaAdicionar.ContactoTelefonico" />
                        <span class="text-danger text-center" asp-validation-for="EscolaAdicionar.ContactoTelefonico"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EscolaAdicionar.Email"></label>
                        <input class="form-control" asp-for="EscolaAdicionar.Email" />
                        <span class="text-danger text-center" asp-validation-for="EscolaAdicionar.Email"></span>
                    </div>

                    <button class="btn btn-success btn-block" type="submit">
                        <i id="loading-icon-insercao-escola" style="display: none;" class="fas fa-spinner fa-spin"></i>
                        Inserir escola
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_DataTables" />
    <partial name="~/Views/Shared/_Validacoes.cshtml" />
    <partial name="~/Views/Shared/_Ajax.cshtml" />
    <script>
        if (location.hash.toLowerCase().trim() === '#inserir-escola') {
            $('#modal-inserir-escola').modal('show');
        }

        function insercaoEscolaConcluidaSucesso(respostaAjax) {
            if (!(respostaAjax.ocorreuAlgumErro)) {
                $('#modal-inserir-escola').modal('hide');
                document.getElementById('form-adicionar-escola').reset();
                inserirEscolaAdicionadaNaTabela(respostaAjax.escola);
            }
            ajaxCompleto(respostaAjax.ajax);
        }

        function inserirEscolaAdicionadaNaTabela(escola) {
            const tr = document.createElement('tr');
            tr.innerHTML = `<td>${escola.codigo}</td>
                                                    <td>${escola.nome}</td>
                                                    <td>${escola.distrito}</td>
                                                    <td>${escola.rua}</td>
                                                    <td>${escola.codigoPostal}</td>
                                                    <td>${escola.contactoTelefonico}</td>
                                                    <td>${escola.email}</td>
                                                    <td>${escola.dataCriacao}</td>
                                                    <td>
                                                      <button class="btn btn-info m-3 btn-ver-diretores-escola" data-toggle="modal" data-target="#modal-inserir-escola" data-id-escola="${escola.id}">Ver diretores</button>
                                                    </td>`;
            document.querySelector(`#tabela-escolas > tbody`).appendChild(tr);
        }


        // Carregamento diretores modal <<--

        Array.from(document.getElementsByClassName('btn-ver-diretores-escola'))
            .forEach(btn => btn.addEventListener('click', () => {
                alert(btn.getAttribute('data-id-escola'));
            }));

    </script>
}
